In [ ]:
# STRING BASED QS

In [3]:
#STRING Q1: Write a program to reverse a string.

# Get input from the user
input_string = input("Enter a string: ")

# Reverse the string using string slicing
reversed_string = input_string[::-1]

# Print the reversed string
print("Reversed string:", reversed_string)

Enter a string:  I LOVE DS

Reversed string: SD EVOL I

In [4]:
# Q2: Check if a string is a palindrome.

# Get input from the user
input_string = input("Enter a string: ")

# Remove spaces and convert to lowercase for case-insensitive comparison
cleaned_string = input_string.replace(" ", "").lower()

# Reverse the string using string slicing
reversed_string = cleaned_string[::-1]

# Check if the original and reversed strings are the same
if cleaned_string == reversed_string:
    print("The entered string is a palindrome.")
else:
    print("The entered string is not a palindrome.")

Enter a string:  I LOVE DS

The entered string is not a palindrome.

In [5]:
# Q3: Convert a string to uppercase.

# Get input from the user
input_string = input("Enter a string: ")

# Convert the string to uppercase
uppercase_string = input_string.upper()

# Print the uppercase string
print("Uppercase string:", uppercase_string)

Enter a string:  i love ds

Uppercase string: I LOVE DS

In [6]:
# Q4: Convert a string to lowercase.

# Get input from the user
input_string = input("Enter a string: ")

# Convert the string to lowercase
lowercase_string = input_string.lower()

# Print the lowercase string
print("Lowercase string:", lowercase_string)

Enter a string:  I LOVE DS

Lowercase string: i love ds

In [7]:
# Q5: Count the number of vowels in a string.

# Get input from the user
input_string = input("Enter a string: ")

# Initialize a variable to store the vowel count
vowel_count = 0

# Define the set of vowels
vowels = "aeiouAEIOU"

# Iterate through each character in the string
for char in input_string:
    if char in vowels:
        vowel_count += 1

# Print the vowel count
print("Number of vowels:", vowel_count)

Enter a string:  I love apple

Number of vowels: 5

In [8]:
# Q6: Count the number of consonants in a string.

# Get input from the user
input_string = input("Enter a string: ")

# Initialize a variable to store the consonant count
consonant_count = 0

# Define the set of vowels
vowels = "aeiouAEIOU"

# Iterate through each character in the string
for char in input_string:
    if char.isalpha() and char not in vowels:
        consonant_count += 1

# Print the consonant count
print("Number of consonants:", consonant_count)

Enter a string:  i love apple

Number of consonants: 5

In [9]:
# Q7: Remove all whitespaces from a string.

# Get input from the user
input_string = input("Enter a string: ")

# Remove whitespaces from the string
no_whitespace_string = input_string.replace(" ", "")

# Print the string without whitespaces
print("String without whitespaces:", no_whitespace_string)

Enter a string:  i love ds

String without whitespaces: iloveds

In [10]:
# Q8: Find the length of a string without using the len() function.

# Get input from the user
input_string = input("Enter a string: ")

# Initialize a variable to store the string length
string_length = 0

# Iterate through each character in the string
for char in input_string:
    string_length += 1

# Print the string length
print("Length of the string:", string_length)

Enter a string:  i love ds

Length of the string: 9

In [11]:
# Q9: Check if a string contains a specific word.

# Get input from the user
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check: ")

# Check if the specific word is present in the string
if specific_word in input_string:
    print("The specific word is present in the string.")
else:
    print("The specific word is not present in the string.")

Enter a string:  i love apple
Enter the specific word to check:  a

The specific word is present in the string.

In [12]:
# Q10: Replace a word in a string with another word.

# Get input from the user
input_string = input("Enter a string: ")
old_word = input("Enter the word to replace: ")
new_word = input("Enter the new word: ")

# Replace the old word with the new word in the string
modified_string = input_string.replace(old_word, new_word)

# Print the modified string
print("Modified string:", modified_string)

Enter a string:  i love applw
Enter the word to replace:  applw
Enter the new word:  orange

Modified string: i love orange

In [1]:
# Q11: Count the occurrences of a word in a string.

# Get input from the user
input_string = input("Enter a string: ")
target_word = input("Enter the word to count: ")

# Split the string into words
words = input_string.split()

# Initialize a variable to store the word count
word_count = 0

# Iterate through each word in the list of words
for word in words:
    if word == target_word:
        word_count += 1

# Print the word count
print("Occurrences of the word:", word_count)

Enter a string:  i love love
Enter the word to count:  love

Occurrences of the word: 2

In [2]:
# Q12: Find the first occurrence of a word in a string.

# Get input from the user
input_string = input("Enter a string: ")
target_word = input("Enter the word to find: ")

# Find the index of the first occurrence of the target word
index = input_string.find(target_word)

# Print the index of the first occurrence
if index != -1:
    print("The first occurrence of the word is at index:", index)
else:
    print("The word was not found in the string.")

Enter a string:  apple is healthy
Enter the word to find:  is

The first occurrence of the word is at index: 6

In [3]:
# Q13: Find the last occurrence of a word in a string.

# Get input from the user
input_string = input("Enter a string: ")
target_word = input("Enter the word to find: ")

# Find the index of the last occurrence of the target word
index = input_string.rfind(target_word)

# Print the index of the last occurrence
if index != -1:
    print("The last occurrence of the word is at index:", index)
else:
    print("The word was not found in the string.")

Enter a string:  apple is good
Enter the word to find:  good

The last occurrence of the word is at index: 9

In [4]:
# Q14: Split a string into a list of words.

# Get input from the user
input_string = input("Enter a string: ")

# Split the string into a list of words
word_list = input_string.split()

# Print the list of words
print("List of words:", word_list)

Enter a string:  apple is good

List of words: ['apple', 'is', 'good']

In [5]:
# Q15: Join a list of words into a string.

# Get input from the user: list of words
word_list = input("Enter a list of words (separated by spaces): ").split()

# Join the list of words into a string using spaces as separators
joined_string = " ".join(word_list)

# Print the joined string
print("Joined string:", joined_string)

Enter a list of words (separated by spaces):  apple orange mango banana

Joined string: apple orange mango banana

In [1]:
# Q16: Convert a string where words are separated by spaces to one where words are separated by underscores.

# Get input from the user
input_string = input("Enter a string with words separated by spaces: ")

# Replace spaces with underscores
converted_string = input_string.replace(" ", "_")

# Print the converted string
print("Converted string:", converted_string)

Enter a string with words separated by spaces:  for each apple red

Converted string: for_each_apple_red_

In [2]:
# Q17: Check if a string starts with a specific word or phrase.

# Get input from the user
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word or phrase to check: ")

# Check if the string starts with the specific word or phrase
if input_string.startswith(specific_word):
    print("The string starts with the specified word or phrase.")
else:
    print("The string does not start with the specified word or phrase.")

Enter a string:  i love apple
Enter the specific word or phrase to check:  p

The string does not start with the specified word or phrase.

In [4]:
# Q18: Check if a string ends with a specific word or phrase.

# Get input from the user
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word or phrase to check: ")

# Check if the string ends with the specific word or phrase
if input_string.endswith(specific_word):
    print("The string ends with the specified word or phrase.")
else:
    print("The string does not end with the specified word or phrase.")

Enter a string:  i love you
Enter the specific word or phrase to check:  u

The string ends with the specified word or phrase.

In [10]:
# Q19: Convert a string to title case.

# Get input from the user
input_string = input("Enter a string: ")

# Convert the string to title case
title_case_string = input_string.title()

# Print the title case string
print("Title case string:", title_case_string)

Enter a string:  i love u

Title case string: I Love U

In [11]:
# Q20: Find the longest word in a string.

# Get input from the user
input_string = input("Enter a string: ")

# Split the string into a list of words
words = input_string.split()

# Initialize variables to store the longest word and its length
longest_word = ""
max_length = 0

# Iterate through each word in the list of words
for word in words:
    if len(word) > max_length:
        longest_word = word
        max_length = len(word)

# Print the longest word
print("Longest word:", longest_word)

Enter a string:  i love pizza

Longest word: pizza

In [12]:
# Q21: Find the shortest word in a string.

input_string = input("Enter a string: ")
words = input_string.split()

# Initialize variables to store the shortest word and its length
shortest_word = words[0]
min_length = len(words[0])

# Iterate through each word in the list of words
for word in words:
    if len(word) < min_length:
        shortest_word = word
        min_length = len(word)

print("Shortest word:", shortest_word)

Enter a string:  i love you

Shortest word: i

In [13]:
# Q22: Reverse the order of words in a string.

input_string = input("Enter a string: ")
words = input_string.split()

# Reverse the order of words using list slicing
reversed_words = words[::-1]

# Join the reversed words into a string
reversed_string = " ".join(reversed_words)

print("Reversed order of words:", reversed_string)

Enter a string:  i love paris

Reversed order of words: paris love i

In [15]:
# Q23: Check if a string is alphanumeric.

input_string = input("Enter a string: ")

if input_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter a string:  i want 3 pizza

The string is not alphanumeric.

In [16]:
# Q24: Extract all digits from a string.

input_string = input("Enter a string: ")
digits = [char for char in input_string if char.isdigit()]

print("Digits extracted:", "".join(digits))

Enter a string:  i want 3 pizza

Digits extracted: 3

In [17]:
# Q25: Extract all alphabets from a string.

input_string = input("Enter a string: ")
alphabets = [char for char in input_string if char.isalpha()]

print("Alphabets extracted:", "".join(alphabets))

Enter a string:  i love pizza

Alphabets extracted: ilovepizza

In [1]:
# Q26: Count the number of uppercase letters in a string.

input_string = input("Enter a string: ")
uppercase_count = sum(1 for char in input_string if char.isupper())

print("Number of uppercase letters:", uppercase_count)

Enter a string:  i love APPLE

Number of uppercase letters: 5

In [2]:
# Q27: Count the number of lowercase letters in a string.

input_string = input("Enter a string: ")
lowercase_count = sum(1 for char in input_string if char.islower())

print("Number of lowercase letters:", lowercase_count)

Enter a string:  i love pizza

Number of lowercase letters: 10

In [3]:
# Q28: Swap the case of each character in a string.

input_string = input("Enter a string: ")
swapped_case_string = input_string.swapcase()

print("String with swapped case:", swapped_case_string)

Enter a string:  i love pw

String with swapped case: I LOVE PW

In [4]:
# Q29: Remove a specific word from a string.

input_string = input("Enter a string: ")
specific_word = input("Enter the word to remove: ")

modified_string = input_string.replace(specific_word, "")

print("Modified string:", modified_string)

Enter a string:  i love pw
Enter the word to remove:  love

Modified string: i pw

In [5]:
# Q30: Check if a string is a valid email address.

import re

email = input("Enter an email address: ")
pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"

if re.match(pattern, email):
    print("Valid email address.")
else:
    print("Invalid email address.")

Enter an email address:  faiza@yahoo.com

Valid email address.

In [6]:
# Q31: Extract the username from an email address string.

email = input("Enter an email address: ")
username = email.split('@')[0]

print("Username:", username)

Enter an email address:  faiz@yahoo.com

Username: faiz

In [7]:
# Q32: Extract the domain name from an email address string.

email = input("Enter an email address: ")
domain = email.split('@')[1]

print("Domain:", domain)

Enter an email address:  faiz@yahoo.com

Domain: yahoo.com

In [8]:
# Q33: Replace multiple spaces in a string with a single space.

input_string = input("Enter a string: ")
modified_string = ' '.join(input_string.split())

print("String with single spaces:", modified_string)

Enter a string:  i love pw

String with single spaces: i love pw

In [9]:
# Q34: Check if a string is a valid URL.

import re

url = input("Enter a URL: ")
pattern = r"^(http|https)://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"

if re.match(pattern, url):
    print("Valid URL.")
else:
    print("Invalid URL.")

Enter a URL:  https://github.com/FURIOUSCHAMP007/Full-Stack-Data-Science-Pro/tree/main

Invalid URL.

In [10]:
# Q35: Extract the protocol (http or https) from a URL string.

url = input("Enter a URL: ")
protocol = url.split(':')[0]

print("Protocol:", protocol)

Enter a URL:  https://github.com/FURIOUSCHAMP007/Full-Stack-Data-Science-Pro/tree/main

Protocol: https

In [12]:
# Q36: Find the frequency of each character in a string.

input_string = input("Enter a string: ")
character_frequency = {}

for char in input_string:
    character_frequency[char] = character_frequency.get(char, 0) + 1

print("Character frequency:", character_frequency)

Enter a string:  i love apple

Character frequency: {'i': 1, ' ': 3, 'l': 2, 'o': 1, 'v': 1, 'e': 2, 'a': 1, 'p': 2}

In [13]:
# Q37: Remove all punctuation from a string.

import string

input_string = input("Enter a string: ")
no_punctuation_string = input_string.translate(str.maketrans('', '', string.punctuation))

print("String without punctuation:", no_punctuation_string)

Enter a string:  i love , apple .

String without punctuation: i love  apple

In [14]:
# Q38: Check if a string contains only digits.

input_string = input("Enter a string: ")

if input_string.isdigit():
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

Enter a string:  love 3 times than

The string does not contain only digits.

In [16]:
# Q39: Check if a string contains only alphabets.

input_string = input("Enter a string: ")

if input_string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string does not contain only alphabets.")

Enter a string:  i love ytou

The string does not contain only alphabets.

In [17]:
# Q40: Convert a string to a list of characters.

input_string = input("Enter a string: ")
character_list = list(input_string)

print("List of characters:", character_list)

Enter a string:  i love pw

List of characters: ['i', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'w']

In [19]:
# Q41: Check if two strings are anagrams.

def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter the first string:  i love you
Enter the second string:  i love you

The strings are anagrams.

In [21]:
# Q42: Encode a string using a Caesar cipher.

def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            shift_amount = ord('a') if char.islower() else ord('A')
            encrypted_char = chr((ord(char) - shift_amount + shift) % 26 + shift_amount)
            encrypted_text += encrypted_char
        else:
            encrypted_text += char

    return encrypted_text

input_string = input("Enter a string: ")
shift_value = int(input("Enter the shift value: "))

encoded_string = caesar_cipher_encrypt(input_string, shift_value)
print("Encoded string:", encoded_string)

Enter a string:  i love pw
Enter the shift value:  7

Encoded string: p svcl wd

In [22]:
# Q43: Decode a Caesar cipher encoded string.

def caesar_cipher_decrypt(encrypted_text, shift):
    return caesar_cipher_encrypt(encrypted_text, -shift)

encoded_string = input("Enter an encoded string: ")
shift_value = int(input("Enter the shift value: "))

decoded_string = caesar_cipher_decrypt(encoded_string, shift_value)
print("Decoded string:", decoded_string)

Enter an encoded string:  p svcl wd
Enter the shift value:  7

Decoded string: i love pw

In [23]:
# Q44: Find the most frequent word in a string.

from collections import Counter

input_string = input("Enter a string: ")
words = input_string.split()
word_count = Counter(words)
most_common_word = word_count.most_common(1)[0][0]

print("Most frequent word:", most_common_word)

Enter a string:  i love apple

Most frequent word: i

In [26]:
# Q45: Find all unique words in a string.

input_string = input("Enter a string: ")
words = input_string.split()
unique_words = set(words)

print("Unique words:", unique_words)

Enter a string:   i love banana orange mango

Unique words: {'i', 'love', 'banana', 'mango', 'orange'}

In [25]:
# Q46: Count the number of syllables in a string.

def count_syllables(word):
    vowels = "AEIOUaeiou"
    count = 0
    for char in word:
        if char in vowels:
            count += 1
    return count

input_string = input("Enter a string: ")
words = input_string.split()
total_syllables = sum(count_syllables(word) for word in words)

print("Number of syllables:", total_syllables)

Enter a string:  maths sci phy chem sst

Number of syllables: 3

In [27]:
# Q47: Check if a string contains any special characters.

input_string = input("Enter a string: ")
special_characters = "!@#$%^&*()_-+={}[]|\:;<>,.?/~"

if any(char in special_characters for char in input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:  i love @ pw

The string contains special characters.

In [31]:
# Q48: Remove the nth word from a string.

def remove_nth_word(input_string, n):
    words = input_string.split()
    if 1 <= n <= len(words):
        words.pop(n - 1)
        return " ".join(words)
    else:
        return input_string

input_string = input("Enter a string: ")
n = int(input("Enter the position of the word to remove: "))

modified_string = remove_nth_word(input_string, n)
print("Modified string:", modified_string)

Enter a string:  lovely
Enter the position of the word to remove:  3

Modified string: lovely

In [33]:
# Q49: Insert a word at the nth position in a string.

def insert_word(input_string, word, n):
    words = input_string.split()
    if 0 <= n <= len(words):
        words.insert(n, word)
        return " ".join(words)
    else:
        return input_string

input_string = input("Enter a string: ")
word_to_insert = input("Enter the word to insert: ")
position = int(input("Enter the position to insert the word: "))

modified_string = insert_word(input_string, word_to_insert, position)
print("Modified string:", modified_string)

Enter a string:  i love maths
Enter the word to insert:  hate
Enter the position to insert the word:  3

Modified string: i love maths hate

In [35]:
# Q50: Convert a CSV string to a list of lists.

csv_string = input("Enter a CSV string: ")
lines = csv_string.split('\n')
csv_list = [line.split(',') for line in lines]

print("CSV list:", csv_list)

Enter a CSV string:  hello.csv

CSV list: [['hello.csv']]

In [ ]:
#LIST BASED QS

In [1]:
# LIST-Q1: Create a list with integers from 1 to 10.

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Integer list:", integer_list)

Integer list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Q2: Find the length of a list without using the len() function.

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize a variable to store the length of the list
list_length = 0

# Iterate through each element in the list
for _ in integer_list:
    list_length += 1

print("Length of the list:", list_length)

Length of the list: 10

In [3]:
# Q3: Append an element to the end of a list.

integer_list = [1, 2, 3, 4, 5]

# Append an element to the end of the list
new_element = 6
integer_list.append(new_element)

print("Updated list:", integer_list)

Updated list: [1, 2, 3, 4, 5, 6]

In [4]:
# Q4: Insert an element at a specific index in a list.

integer_list = [1, 2, 3, 5, 6]

# Insert an element at a specific index
element_to_insert = 4
index_to_insert = 3  # Index where the element will be inserted
integer_list.insert(index_to_insert, element_to_insert)

print("Updated list:", integer_list)

Updated list: [1, 2, 3, 4, 5, 6]

In [5]:
# Q5: Remove an element from a list by its value.

integer_list = [1, 2, 3, 4, 5]

# Remove an element by its value
element_to_remove = 3
integer_list.remove(element_to_remove)

print("Updated list:", integer_list)

Updated list: [1, 2, 4, 5]

In [6]:
# Q6: Remove an element from a list by its index.

integer_list = [1, 2, 3, 4, 5]

# Remove an element by its index
index_to_remove = 2  # Index of the element to be removed
removed_element = integer_list.pop(index_to_remove)

print("Updated list:", integer_list)
print("Removed element:", removed_element)

Updated list: [1, 2, 4, 5]
Removed element: 3

In [7]:
# Q7: Check if an element exists in a list.

integer_list = [1, 2, 3, 4, 5]

# Check if an element exists in the list
element_to_check = 3
if element_to_check in integer_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [8]:
# Q8: Find the index of the first occurrence of an element in a list.

integer_list = [1, 2, 3, 4, 5, 3, 6]

# Find the index of the first occurrence of an element
element_to_find = 3
index = integer_list.index(element_to_find)

print(f"The index of the first occurrence of {element_to_find} is:", index)

The index of the first occurrence of 3 is: 2

In [9]:
# Q9: Count the occurrences of an element in a list.

integer_list = [1, 2, 3, 4, 5, 3, 6]

# Count the occurrences of an element
element_to_count = 3
count = integer_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the list.")

The element 3 appears 2 times in the list.

In [10]:
# Q10: Reverse the order of elements in a list.

integer_list = [1, 2, 3, 4, 5]

# Reverse the order of elements
integer_list.reverse()

print("Reversed list:", integer_list)

Reversed list: [5, 4, 3, 2, 1]

In [11]:
# Q11: Sort a list in ascending order.

integer_list = [5, 2, 8, 1, 7, 3]
integer_list.sort()

print("Sorted list in ascending order:", integer_list)

Sorted list in ascending order: [1, 2, 3, 5, 7, 8]

In [12]:
# Q12: Sort a list in descending order.

integer_list = [5, 2, 8, 1, 7, 3]
integer_list.sort(reverse=True)

print("Sorted list in descending order:", integer_list)

Sorted list in descending order: [8, 7, 5, 3, 2, 1]

In [13]:
# Q13: Create a list of even numbers from 1 to 20.

even_numbers = [num for num in range(2, 21, 2)]

print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
# Q14: Create a list of odd numbers from 1 to 20.

odd_numbers = [num for num in range(1, 21, 2)]

print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
# Q15: Find the sum of all elements in a list.

integer_list = [1, 2, 3, 4, 5]
sum_of_elements = sum(integer_list)

print("Sum of elements:", sum_of_elements)

Sum of elements: 15

In [16]:
# Q16: Find the maximum value in a list.

integer_list = [5, 2, 8, 1, 7, 3]
max_value = max(integer_list)

print("Maximum value:", max_value)

Maximum value: 8

In [17]:
# Q17: Find the minimum value in a list.

integer_list = [5, 2, 8, 1, 7, 3]
min_value = min(integer_list)

print("Minimum value:", min_value)

Minimum value: 1

In [18]:
# Q18: Create a list of squares of numbers from 1 to 10.

squares = [num ** 2 for num in range(1, 11)]

print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
# Q19: Create a list of random numbers.

import random

random_numbers = [random.randint(1, 100) for _ in range(10)]

print("List of random numbers:", random_numbers)

List of random numbers: [78, 49, 48, 21, 75, 8, 31, 16, 67, 24]

In [20]:
# Q20: Remove duplicates from a list.

duplicate_list = [1, 2, 2, 3, 4, 4, 5, 5, 6]
unique_list = list(set(duplicate_list))

print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5, 6]

In [21]:
# Q21: Find the common elements between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = [element for element in list1 if element in list2]

print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [22]:
# Q22: Find the difference between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference = [element for element in list1 if element not in list2]

print("Difference between lists:", difference)

Difference between lists: [1, 2]

In [23]:
# Q23: Merge two lists.

list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2

print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6]

In [24]:
# Q24: Multiply all elements in a list by 2.

integer_list = [1, 2, 3, 4, 5]
doubled_list = [element * 2 for element in integer_list]

print("List with elements multiplied by 2:", doubled_list)

List with elements multiplied by 2: [2, 4, 6, 8, 10]

In [25]:
# Q25: Filter out all even numbers from a list.

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [element for element in integer_list if element % 2 != 0]

print("List with odd numbers:", odd_numbers)

List with odd numbers: [1, 3, 5, 7, 9]

In [26]:
# Q26: Convert a list of strings to a list of integers.

string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(element) for element in string_list]

print("List of integers:", integer_list)

List of integers: [1, 2, 3, 4, 5]

In [27]:
# Q27: Convert a list of integers to a list of strings.

integer_list = [1, 2, 3, 4, 5]
string_list = [str(element) for element in integer_list]

print("List of strings:", string_list)

List of strings: ['1', '2', '3', '4', '5']

In [28]:
# Q28: Flatten a nested list.

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [element for sublist in nested_list for element in sublist]

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# Q29: Create a list of the first 10 Fibonacci numbers.

def fibonacci(n):
    fib_list = [0, 1]
    for i in range(2, n):
        fib_list.append(fib_list[i-1] + fib_list[i-2])
    return fib_list

fibonacci_numbers = fibonacci(10)

print("List of Fibonacci numbers:", fibonacci_numbers)

List of Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
# Q30: Check if a list is sorted.

def is_sorted(lst):
    return all(lst[i] <= lst[i+1] for i in range(len(lst)-1))

integer_list = [1, 2, 3, 4, 5]
sorted_check = is_sorted(integer_list)

print("Is the list sorted?", sorted_check)

Is the list sorted? True

In [31]:
# Q31: Rotate a list to the left by `n` positions.

def rotate_left(lst, n):
    n = n % len(lst)  # Handle cases where n is greater than the list length
    return lst[n:] + lst[:n]

integer_list = [1, 2, 3, 4, 5]
rotated_list = rotate_left(integer_list, 2)

print("Rotated list to the left:", rotated_list)

Rotated list to the left: [3, 4, 5, 1, 2]

In [32]:
# Q32: Rotate a list to the right by `n` positions.

def rotate_right(lst, n):
    n = n % len(lst)  # Handle cases where n is greater than the list length
    return lst[-n:] + lst[:-n]

integer_list = [1, 2, 3, 4, 5]
rotated_list = rotate_right(integer_list, 2)

print("Rotated list to the right:", rotated_list)

Rotated list to the right: [4, 5, 1, 2, 3]

In [33]:
# Q33: Create a list of prime numbers up to 50.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print("List of prime numbers:", prime_numbers)

List of prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [34]:
# Q34: Split a list into chunks of size `n`.

def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = split_into_chunks(integer_list, chunk_size)

print("List split into chunks:", chunks)

List split into chunks: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [35]:
# Q35: Find the second largest number in a list.

integer_list = [10, 5, 8, 15, 3, 12]
sorted_list = sorted(integer_list)
second_largest = sorted_list[-2]

print("Second largest number:", second_largest)

Second largest number: 12

In [36]:
# Q36: Replace every element in a list with its square.

integer_list = [1, 2, 3, 4, 5]
squared_list = [element ** 2 for element in integer_list]

print("List with elements squared:", squared_list)

List with elements squared: [1, 4, 9, 16, 25]

In [37]:
# Q37: Convert a list to a dictionary where list elements become keys and their indices become values.

word_list = ["apple", "banana", "cherry", "date"]
word_dict = {word: index for index, word in enumerate(word_list)}

print("Dictionary:", word_dict)

Dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [39]:
# Q38: Shuffle the elements of a list randomly.

import random

integer_list = [1, 2, 3, 4, 5]
shuffled_list = random.sample(integer_list, len(integer_list))

print("Shuffled list:", shuffled_list)

Shuffled list: [1, 2, 4, 3, 5]

In [40]:
# Q39: Create a list of the first 10 factorial numbers.

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(1, 11)]

print("List of factorial numbers:", factorial_numbers)

List of factorial numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [41]:
# Q40: Check if two lists have at least one element in common.

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
common_elements = any(element in list2 for element in list1)

if common_elements:
    print("The two lists have at least one element in common.")
else:
    print("The two lists do not have any common elements.")

The two lists do not have any common elements.

In [42]:
# Q41: Remove all elements from a list.

integer_list = [1, 2, 3, 4, 5]
integer_list.clear()

print("Empty list:", integer_list)

Empty list: []

In [43]:
# Q42: Replace negative numbers in a list with 0.

numbers = [-1, 2, -3, 4, -5]
positive_numbers = [num if num >= 0 else 0 for num in numbers]

print("List with negative numbers replaced:", positive_numbers)

List with negative numbers replaced: [0, 2, 0, 4, 0]

In [44]:
# Q43: Convert a string into a list of words.

sentence = "Hello, this is a sentence."
word_list = sentence.split()

print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sentence.']

In [45]:
# Q44: Convert a list of words into a string.

word_list = ["Hello", "this", "is", "a", "list", "of", "words"]
sentence = " ".join(word_list)

print("Converted sentence:", sentence)

Converted sentence: Hello this is a list of words

In [46]:
# Q45: Create a list of the first `n` powers of 2.

n = 5
powers_of_2 = [2 ** i for i in range(n)]

print("List of powers of 2:", powers_of_2)

List of powers of 2: [1, 2, 4, 8, 16]

In [47]:
# Q46: Find the longest string in a list of strings.

string_list = ["apple", "banana", "cherry", "date"]
longest_string = max(string_list, key=len)

print("Longest string:", longest_string)

Longest string: banana

In [48]:
# Q47: Find the shortest string in a list of strings.

string_list = ["apple", "banana", "cherry", "date"]
shortest_string = min(string_list, key=len)

print("Shortest string:", shortest_string)

Shortest string: date

In [49]:
# Q48: Create a list of the first `n` triangular numbers.

def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers = [triangular_number(i) for i in range(1, n+1)]

print("List of triangular numbers:", triangular_numbers)

List of triangular numbers: [1, 3, 6, 10, 15]

In [50]:
# Q49: Check if a list contains another list as a subsequence.

def is_subsequence(sub, main):
    i = 0
    for element in main:
        if element == sub[i]:
            i += 1
            if i == len(sub):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sub_list = [3, 5, 7]

if is_subsequence(sub_list, main_list):
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

In [51]:
# Q50: Swap two elements in a list by their indices.

integer_list = [1, 2, 3, 4, 5]
index1, index2 = 1, 3  # Indices of the elements to be swapped
integer_list[index1], integer_list[index2] = integer_list[index2], integer_list[index1]

print("List after swapping:", integer_list)

List after swapping: [1, 4, 3, 2, 5]

In [52]:
# TUPLE QS

In [53]:
# TUPLE Q1: Create a tuple with integers from 1 to 5.

integer_tuple = (1, 2, 3, 4, 5)

print("Tuple:", integer_tuple)

Tuple: (1, 2, 3, 4, 5)

In [54]:
# Q2: Access the third element of a tuple.

integer_tuple = (1, 2, 3, 4, 5)
third_element = integer_tuple[2]

print("Third element:", third_element)

Third element: 3

In [55]:
# Q3: Find the length of a tuple without using the `len()` function.

integer_tuple = (1, 2, 3, 4, 5)
length = sum(1 for _ in integer_tuple)

print("Length of tuple:", length)

Length of tuple: 5

In [56]:
# Q4: Count the occurrences of an element in a tuple.

integer_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_count = 2
count = sum(1 for element in integer_tuple if element == element_to_count)

print("Occurrences of element:", count)

Occurrences of element: 3

In [57]:
# Q5: Find the index of the first occurrence of an element in a tuple.

integer_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_find = 2
index = next((i for i, element in enumerate(integer_tuple) if element == element_to_find), -1)

print("Index of first occurrence:", index)

Index of first occurrence: 1

In [58]:
# Q6: Check if an element exists in a tuple.

integer_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
exists = element_to_check in integer_tuple

if exists:
    print("Element exists in the tuple.")
else:
    print("Element does not exist in the tuple.")

Element exists in the tuple.

In [59]:
# Q7: Convert a tuple to a list.

integer_tuple = (1, 2, 3, 4, 5)
integer_list = list(integer_tuple)

print("Converted list:", integer_list)

Converted list: [1, 2, 3, 4, 5]

In [60]:
# Q8: Convert a list to a tuple.

integer_list = [1, 2, 3, 4, 5]
integer_tuple = tuple(integer_list)

print("Converted tuple:", integer_tuple)

Converted tuple: (1, 2, 3, 4, 5)

In [61]:
# Q9: Unpack the elements of a tuple into variables.

name_tuple = ("John", "Doe", 30)
first_name, last_name, age = name_tuple

print("First Name:", first_name)
print("Last Name:", last_name)
print("Age:", age)

First Name: John
Last Name: Doe
Age: 30

In [62]:
# Q10: Create a tuple of even numbers from 1 to 10.

even_tuple = tuple(num for num in range(2, 11, 2))

print("Tuple of even numbers:", even_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [63]:
# Q11: Create a tuple of odd numbers from 1 to 10.

odd_tuple = tuple(num for num in range(1, 11) if num % 2 != 0)

print("Tuple of odd numbers:", odd_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

In [64]:
# Q12: Concatenate two tuples.

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [65]:
# Q13: Repeat a tuple three times.

original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3

print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [66]:
# Q14: Check if a tuple is empty.

empty_tuple = ()
is_empty = len(empty_tuple) == 0

if is_empty:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [67]:
# Q15: Create a nested tuple.

nested_tuple = ((1, 2), (3, 4), (5, 6))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2), (3, 4), (5, 6))

In [68]:
# Q16: Access the first element of a nested tuple.

nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]

print("First element of nested tuple:", first_element)

First element of nested tuple: (1, 2)

In [69]:
# Q17: Create a tuple with a single element.

single_element_tuple = (42,)

print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [70]:
# Q18: Compare two tuples.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2

if are_equal:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are equal.

In [71]:
# Q19: Delete a tuple.

to_be_deleted = (1, 2, 3)
del to_be_deleted

try:
    print(to_be_deleted)  # This will raise a NameError
except NameError:
    print("The tuple has been deleted.")

The tuple has been deleted.

In [72]:
# Q20: Slice a tuple.

integer_tuple = (1, 2, 3, 4, 5)
sliced_tuple = integer_tuple[1:4]

print("Sliced tuple:", sliced_tuple)

Sliced tuple: (2, 3, 4)

In [73]:
# Q21: Find the maximum value in a tuple.

number_tuple = (12, 45, 23, 67, 34)
maximum_value = max(number_tuple)

print("Maximum value:", maximum_value)

Maximum value: 67

In [74]:
# Q22: Find the minimum value in a tuple.

number_tuple = (12, 45, 23, 67, 34)
minimum_value = min(number_tuple)

print("Minimum value:", minimum_value)

Minimum value: 12

In [85]:
# Q23: Convert a string to a tuple of characters.

string = "hello"
char_tuple = tuple(string)

print("Tuple of characters:", char_tuple)

Tuple of characters: ('h', 'e', 'l', 'l', 'o')

In [76]:
# Q24: Convert a tuple of characters to a string.

char_tuple = ('h', 'e', 'l', 'l', 'o')
string = ''.join(char_tuple)

print("Converted string:", string)

Converted string: hello

In [77]:
# Q25: Create a tuple from multiple data types.

mixed_tuple = (1, "hello", 3.14, True)

print("Mixed tuple:", mixed_tuple)

Mixed tuple: (1, 'hello', 3.14, True)

In [4]:
# Q26: Check if two tuples are identical.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 is tuple2

if are_identical:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are not identical.

In [5]:
# Q27: Sort the elements of a tuple.

number_tuple = (12, 45, 23, 67, 34)
sorted_tuple = tuple(sorted(number_tuple))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: (12, 23, 34, 45, 67)

In [6]:
# Q28: Convert a tuple of integers to a tuple of strings.

integer_tuple = (1, 2, 3, 4, 5)
string_tuple = tuple(str(num) for num in integer_tuple)

print("Tuple of strings:", string_tuple)

Tuple of strings: ('1', '2', '3', '4', '5')

In [7]:
# Q29: Convert a tuple of strings to a tuple of integers.

string_tuple = ('1', '2', '3', '4', '5')
integer_tuple = tuple(int(s) for s in string_tuple)

print("Tuple of integers:", integer_tuple)

Tuple of integers: (1, 2, 3, 4, 5)

In [8]:
# Q30: Merge two tuples.

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [9]:
# Q31: Flatten a nested tuple.

nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(element for sub_tuple in nested_tuple for element in sub_tuple)

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6)

In [10]:
# Q32: Create a tuple of the first 5 prime numbers.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

n = 5
prime_tuple = tuple(num for num in range(2, 100) if is_prime(num))[:n]

print("Tuple of prime numbers:", prime_tuple)

Tuple of prime numbers: (2, 3, 5, 7, 11)

In [11]:
# Q33: Check if a tuple is a palindrome.

def is_palindrome(data):
    return data == data[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
is_palindrome_result = is_palindrome(palindrome_tuple)

if is_palindrome_result:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [12]:
# Q34: Create a tuple of squares of numbers from 1 to 5.

squares_tuple = tuple(num ** 2 for num in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [13]:
# Q35: Filter out all even numbers from a tuple.

number_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
odd_tuple = tuple(num for num in number_tuple if num % 2 != 0)

print("Tuple of odd numbers:", odd_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

In [14]:
# Q36: Multiply all elements in a tuple by 2.

number_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in number_tuple)

print("Tuple with elements doubled:", doubled_tuple)

Tuple with elements doubled: (2, 4, 6, 8, 10)

In [15]:
# Q37: Create a tuple of random numbers.

import random

random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: (98, 44, 43, 12, 50)

In [16]:
# Q38: Check if a tuple is sorted.

def is_sorted(data):
    return data == tuple(sorted(data))

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 3, 1, 4)

if is_sorted(sorted_tuple):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

if is_sorted(unsorted_tuple):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.
The tuple is not sorted.

In [17]:
# Q39: Rotate a tuple to the left by `n` positions.

def rotate_left(data, n):
    n = n % len(data)
    return data[n:] + data[:n]

number_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left(number_tuple, 2)

print("Rotated tuple (left):", rotated_tuple)

Rotated tuple (left): (3, 4, 5, 1, 2)

In [18]:
# Q40: Rotate a tuple to the right by `n` positions.

def rotate_right(data, n):
    n = n % len(data)
    return data[-n:] + data[:-n]

number_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right(number_tuple, 2)

print("Rotated tuple (right):", rotated_tuple)

Rotated tuple (right): (4, 5, 1, 2, 3)

In [19]:
# Q41: Create a tuple of the first 5 Fibonacci numbers.

def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return tuple(fib_sequence)

n = 5
fibonacci_tuple = fibonacci(n)

print("Tuple of Fibonacci numbers:", fibonacci_tuple)

Tuple of Fibonacci numbers: (0, 1, 1, 2, 3)

In [24]:
# Q42: Create a tuple from user input.

input_string = input("Enter comma-separated values: ")
user_tuple = tuple(map(int, input_string.split(',')))

print("User input tuple:", user_tuple)

Enter comma-separated values:  5,10,15,20

User input tuple: (5, 10, 15, 20)

In [25]:
# Q43: Swap two elements in a tuple.

number_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
swap_list = list(number_tuple)
swap_list[index1], swap_list[index2] = swap_list[index2], swap_list[index1]
swapped_tuple = tuple(swap_list)

print("Tuple after swapping:", swapped_tuple)

Tuple after swapping: (1, 4, 3, 2, 5)

In [26]:
# Q44: Reverse the elements of a tuple.

number_tuple = (1, 2, 3, 4, 5)
reversed_tuple = tuple(reversed(number_tuple))

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [27]:
# Q45: Create a tuple of the first `n` powers of 2.

n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Tuple of powers of 2:", powers_of_2_tuple)

Tuple of powers of 2: (1, 2, 4, 8, 16)

In [28]:
# Q46: Find the longest string in a tuple of strings.

string_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(string_tuple, key=len)

print("Longest string:", longest_string)

Longest string: banana

In [29]:
# Q47: Find the shortest string in a tuple of strings.

string_tuple = ("apple", "banana", "cherry", "date")
shortest_string = min(string_tuple, key=len)

print("Shortest string:", shortest_string)

Shortest string: date

In [30]:
# Q48: Create a tuple of the first `n` triangular numbers.

def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers_tuple = tuple(triangular_number(i) for i in range(1, n + 1))

print("Tuple of triangular numbers:", triangular_numbers_tuple)

Tuple of triangular numbers: (1, 3, 6, 10, 15)

In [31]:
# Q49: Check if a tuple contains another tuple as a subsequence.

main_tuple = (1, 2, (3, 4), 5, 6)
sub_tuple = (3, 4)

contains_sub_tuple = any(sub_tuple == main_tuple[i:i+len(sub_tuple)] for i in range(len(main_tuple) - len(sub_tuple) + 1))

if contains_sub_tuple:
    print("The main tuple contains the sub tuple.")
else:
    print("The main tuple does not contain the sub tuple.")

The main tuple does not contain the sub tuple.

In [32]:
# Q49: Check if a tuple contains another tuple as a subsequence.

main_tuple = (1, 2, (3, 4), 5, 6)
sub_tuple = (3, 4)

contains_sub_tuple = any(sub_tuple == main_tuple[i:i+len(sub_tuple)] for i in range(len(main_tuple) - len(sub_tuple) + 1))

if contains_sub_tuple:
    print("The main tuple contains the sub tuple.")
else:
    print("The main tuple does not contain the sub tuple.")

The main tuple does not contain the sub tuple.

In [ ]:
# SET QS

In [33]:
# Q1: Create a set with integers from 1 to 5.

integer_set = {1, 2, 3, 4, 5}

print("Integer set:", integer_set)

Integer set: {1, 2, 3, 4, 5}

In [34]:
# Q2: Add an element to a set.

integer_set = {1, 2, 3}
integer_set.add(4)

print("Updated set:", integer_set)

Updated set: {1, 2, 3, 4}

In [35]:
# Q3: Remove an element from a set.

integer_set = {1, 2, 3, 4}
integer_set.remove(3)

print("Updated set:", integer_set)

Updated set: {1, 2, 4}

In [36]:
# Q4: Check if an element exists in a set.

integer_set = {1, 2, 3, 4}
element_to_check = 3
exists = element_to_check in integer_set

if exists:
    print("Element exists in the set.")
else:
    print("Element does not exist in the set.")

Element exists in the set.

In [37]:
# Q5: Find the length of a set without using the `len()` function.

integer_set = {1, 2, 3, 4, 5}
length = sum(1 for _ in integer_set)

print("Length of the set:", length)

Length of the set: 5

In [38]:
# Q6: Clear all elements from a set.

integer_set = {1, 2, 3, 4, 5}
integer_set.clear()

print("Cleared set:", integer_set)

Cleared set: set()

In [39]:
# Q7: Create a set of even numbers from 1 to 10.

even_set = {num for num in range(2, 11, 2)}

print("Set of even numbers:", even_set)

Set of even numbers: {2, 4, 6, 8, 10}

In [40]:
# Q8: Create a set of odd numbers from 1 to 10.

odd_set = {num for num in range(1, 11, 2)}

print("Set of odd numbers:", odd_set)

Set of odd numbers: {1, 3, 5, 7, 9}

In [86]:
# Q9: Find the union of two sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [42]:
# Q10: Find the intersection of two sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)

print("Intersection of sets:", intersection_set)

Intersection of sets: {3}

In [43]:
# Q11: Find the difference between two sets.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)

print("Difference of sets:", difference_set)

Difference of sets: {1, 2}

In [44]:
# Q12: Check if a set is a subset of another set.

set1 = {1, 2}
set2 = {1, 2, 3, 4}
is_subset = set1.issubset(set2)

if is_subset:
    print("Set1 is a subset of Set2.")
else:
    print("Set1 is not a subset of Set2.")

Set1 is a subset of Set2.

In [45]:
# Q13: Check if a set is a superset of another set.

set1 = {1, 2, 3, 4}
set2 = {3, 4}
is_superset = set1.issuperset(set2)

if is_superset:
    print("Set1 is a superset of Set2.")
else:
    print("Set1 is not a superset of Set2.")

Set1 is a superset of Set2.

In [46]:
# Q13: Check if a set is a superset of another set.

set1 = {1, 2, 3, 4}
set2 = {3, 4}
is_superset = set1.issuperset(set2)

if is_superset:
    print("Set1 is a superset of Set2.")
else:
    print("Set1 is not a superset of Set2.")

Set1 is a superset of Set2.

In [87]:
# Q14: Create a set from a list.

my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

print("Created set from list:", my_set)

Created set from list: {1, 2, 3, 4, 5}

In [47]:
# Q15: Convert a set to a list.

my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print("Converted list:", my_list)

Converted list: [1, 2, 3, 4, 5]

In [48]:
# Q16: Remove a random element from a set.

my_set = {1, 2, 3, 4, 5}
random_element = random.choice(list(my_set))
my_set.remove(random_element)

print("Set after removing a random element:", my_set)

Set after removing a random element: {1, 2, 3, 5}

In [49]:
# Q17: Pop an element from a set.

my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()

print("Set after popping an element:", my_set)

Set after popping an element: {2, 3, 4, 5}

In [50]:
# Q18: Check if two sets have no elements in common.

set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = set1.isdisjoint(set2)

if no_common_elements:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

In [51]:
# Q19: Find the symmetric difference between two sets.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
symmetric_difference = set1.symmetric_difference(set2)

print("Symmetric difference of sets:", symmetric_difference)

Symmetric difference of sets: {1, 2, 5}

In [52]:
# Q20: Update a set with elements from another set.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [53]:
# Q21: Create a set of the first 5 prime numbers.

prime_set = {2, 3, 5, 7, 11}

print("Set of prime numbers:", prime_set)

Set of prime numbers: {2, 3, 5, 7, 11}

In [54]:
# Q22: Check if two sets are identical.

set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_identical = set1 == set2

if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [56]:
# Q23: Create a frozen set.

frozen_set = frozenset({1, 2, 3, 4, 5})

print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [57]:
# Q24: Check if a set is disjoint with another set.

set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)

if is_disjoint:
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are disjoint.

In [58]:
# Q25: Create a set of squares of numbers from 1 to 5.

squares_set = {num ** 2 for num in range(1, 6)}

print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

In [59]:
# Q26: Filter out all even numbers from a set.

number_set = {1, 2, 3, 4, 5, 6}
odd_set = {num for num in number_set if num % 2 != 0}

print("Set of odd numbers:", odd_set)

Set of odd numbers: {1, 3, 5}

In [60]:
# Q27: Multiply all elements in a set by 2.

number_set = {1, 2, 3, 4, 5}
doubled_set = {num * 2 for num in number_set}

print("Set with elements doubled:", doubled_set)

Set with elements doubled: {2, 4, 6, 8, 10}

In [61]:
# Q28: Create a set of random numbers.

random_set = {random.randint(1, 100) for _ in range(5)}

print("Set of random numbers:", random_set)

Set of random numbers: {65, 97, 70, 7, 22}

In [62]:
# Q29: Check if a set is empty.

empty_set = set()

if not empty_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [63]:
# Q30: Create a nested set (hint: use frozenset).

nested_set = {frozenset({1, 2}), frozenset({3, 4})}

print("Nested set:", nested_set)

Nested set: {frozenset({3, 4}), frozenset({1, 2})}

In [64]:
# Q31: Remove an element from a set using the discard method.

my_set = {1, 2, 3, 4, 5}
element_to_remove = 3
my_set.discard(element_to_remove)

print("Set after removing element:", my_set)

Set after removing element: {1, 2, 4, 5}

In [65]:
# Q32: Compare two sets.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
are_equal = set1 == set2

if are_equal:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are not equal.

In [66]:
# Q33: Create a set from a string.

my_string = "hello"
string_set = set(my_string)

print("Set from string:", string_set)

Set from string: {'h', 'o', 'l', 'e'}

In [67]:
# Q34: Convert a set of strings to a set of integers.

string_set = {"1", "2", "3"}
integer_set = {int(item) for item in string_set}

print("Set of integers:", integer_set)

Set of integers: {1, 2, 3}

In [68]:
# Q35: Convert a set of integers to a set of strings.

integer_set = {1, 2, 3}
string_set = {str(item) for item in integer_set}

print("Set of strings:", string_set)

Set of strings: {'1', '2', '3'}

In [69]:
# Q36: Create a set from a tuple.

my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)

print("Set from tuple:", tuple_set)

Set from tuple: {1, 2, 3, 4, 5}

In [70]:
# Q37: Convert a set to a tuple.

my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)

print("Tuple from set:", set_tuple)

Tuple from set: (1, 2, 3, 4, 5)

In [71]:
# Q38: Find the maximum value in a set.

number_set = {3, 1, 5, 2, 4}
max_value = max(number_set)

print("Maximum value:", max_value)

Maximum value: 5

In [72]:
# Q39: Find the minimum value in a set.

number_set = {3, 1, 5, 2, 4}
min_value = min(number_set)

print("Minimum value:", min_value)

Minimum value: 1

In [74]:
# Q40: Create a set from user input.

user_input = input("Enter elements separated by spaces: ")
user_list = user_input.split()
user_set = set(user_list)

print("User set:", user_set)

Enter elements separated by spaces:  A Q W E

User set: {'E', 'A', 'W', 'Q'}

In [75]:
# Q41: Check if the intersection of two sets is empty.

set1 = {1, 2, 3}
set2 = {4, 5, 6}
intersection_empty = len(set1.intersection(set2)) == 0

if intersection_empty:
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

In [76]:
# Q42: Create a set of the first 5 Fibonacci numbers.

def generate_fibonacci(n):
    fibonacci = [0, 1]
    for i in range(2, n):
        next_fib = fibonacci[i-1] + fibonacci[i-2]
        fibonacci.append(next_fib)
    return fibonacci

n = 5
fibonacci_set = set(generate_fibonacci(n))

print("Set of Fibonacci numbers:", fibonacci_set)

Set of Fibonacci numbers: {0, 1, 2, 3}

In [77]:
# Q43: Remove duplicates from a list using sets.

original_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(original_list)
unique_list = list(unique_set)

print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

In [78]:
# Q44: Check if two sets have the same elements, regardless of their count.

set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1, 1, 2, 3, 4}
have_same_elements = set1 == set2

if have_same_elements:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [79]:
# Q45: Create a set of the first `n` powers of 2.

n = 5
powers_of_2_set = {2 ** i for i in range(n)}

print("Set of powers of 2:", powers_of_2_set)

Set of powers of 2: {1, 2, 4, 8, 16}

In [80]:
# Q46: Find the common elements between a set and a list.

my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)

print("Common elements:", common_elements)

Common elements: {3, 4, 5}

In [81]:
# Q47: Create a set of the first `n` triangular numbers.

def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers_set = {triangular_number(i) for i in range(1, n + 1)}

print("Set of triangular numbers:", triangular_numbers_set)

Set of triangular numbers: {1, 3, 6, 10, 15}

In [82]:
# Q48: Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5}
subset = {2, 3}
is_subset = subset.issubset(set1)

if is_subset:
    print("The subset is contained in the set.")
else:
    print("The subset is not contained in the set.")

The subset is contained in the set.

In [83]:
# Q49: Create a set of alternating 1s and 0s of length `n`.

n = 5
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

In [84]:
# Q50: Merge multiple sets into one.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)

print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}